// place your custom styles here
.app {
  .theme-container{
    .page {
      &.blog {
        .blog-hero {
          height: 300px;
          &.fullscreen {
            height: 300px;
            .mask {
              background-position-y: top !important;
            }
            .slide-down-button {
              display: block;
            }
          }
        }
      }
    }
  }
}